---
title: Accueil
permalink: /
seo:
  title: "CyberNeTic "
  text: This is a meta description
  description: This is a meta description
---

<section class="introduction">
    <div class="introduction__top">
        <h1 class="logo">
            <img src="/assets/images/cybernetic_logo.png" alt="CyberNeTic Project">
        </h1>
    </div>
    <div class="container">
        <div class="introduction__post">
            {% assign posts = site.news | posts_passed: 'post_date' | reverse %}
            {% for post in posts limit:1 %}
                {% include sticky-post.html post=post %}
            {% endfor %}
        </div>
    </div>
</section>
<section class="container">
    <div class="news">
        {% assign posts = site.news | posts_passed: 'post_date' | reverse %}
        {% for post in posts limit:3 offset:1 %}
            {% include post.html post=post %}
        {% endfor %}
    </div>
    <section class="center">
        <a href="/actualites" class="btn">Voir toutes les actualités</a>
    </section>
</section>


<section class="container">
    <div class="box box--img">
        <div class="box__content">
            <div class="box__text">
                <h1 class="box__title">Le projet</h1>
                <div class="box__body">
                    <h2 class="h3">Cybernetic, c'est quoi ?</h2>
                    <p>
                        En partenariat avec la Gendarmerie Nationale, le projet CyberNeTic vise à mener une recherche-action au coeur des sciences de l'information et de la communication pour étudier les formes d'expression de la violence au moyen des nouvelles technologies et tout particulièrement celle du cyberharcèlement. Il s'agit d'analyser les discours d'expériences (victimes, enquêteurs) et les échanges de conversations (sms, réseaux sociaux, mails, etc.), afin d'identifier les phénomènes d'engrenage, les stratégies d'influence et de manipulation enclenchées par les prédateurs.
                    </p>
                    <a class="btn" href="/projet">En savoir plus</a>
                </div>
            </div>

            <div class="box__image">
                <img src="/assets/images/test.png" alt="Cyberharcelement par téléphone">
            </div>
        </div>
    </div>
</section>

<section class="container">
    <h1><a href="/actualites">Actualités</a></h1>
    <div class="news">
        {% assign posts = site.news | posts_passed: 'post_date' | reverse %}
        {% for post in posts limit:3 %}
            {% include post.html post=post %}
        {% endfor %}
    </div>
    <section class="center">
        <a href="/actualites" class="btn">Voir toutes les actualités</a>
    </section>
</section>

<section class="container">
    <h1>Partenaires</h1>
    <div class="partners">
        {% for partner in site.data.partners %}
          <div class="partner">
              <img src="/assets/images/partenaires/{{ partner.logo }}" alt="{{ partner.title }}">
          </div>
        {% endfor %}
    </div>
</section>
