---
title: Accueil
permalink: /
seo:
  title: "CyberNeTic"
  text: This is a meta description
  description: This is a meta description
---

<main class="page">
    {% include page-head.html title="Expression de la violence et cyberharcèlement" %}

    <section class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    {% assign posts = site.news | posts_passed: 'post_date' | reverse %}
                    {% for post in posts limit:1%}
                        {% include post.html post=post large=true%}
                    {% endfor %}
                    {% for post in posts limit:3 offset:1 %}
                        {% include post.html post=post %}
                    {% endfor %}
                </div>
            </div>
            <div class="door col-md-10 offset-md-1">
                <a href="/actualites" class="btn btn--light">Toutes les actualités</a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row text">
            <div class="col-md-6 offset-md-1 text">
                <h1 class="h3">CyberNeTic, c'est quoi ?</h1>
                <p>
                    En partenariat avec la Gendarmerie Nationale, le projet CyberNeTic vise à mener une recherche-action au coeur des sciences de l'information et de la communication pour étudier les formes d'expression de la violence au moyen des nouvelles technologies et tout particulièrement celle du cyberharcèlement. Il s'agit d'analyser les discours d'expériences (victimes, enquêteurs) et les échanges de conversations (sms, réseaux sociaux, mails, etc.), afin d'identifier les phénomènes d'engrenage, les stratégies d'influence et de manipulation enclenchées par les prédateurs.
                </p>
                <a class="btn btn--lte" href="/projet">Lire la suite</a>
            </div>
            <div class="offset-md-1 col-md-3">
                <img src="/assets/images/test.png" alt="Cyberharcelement par téléphone">
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1 mb-5">
                <h1 class="h3"><a href="/fiches-techniques">Les Fiches Techniques</a></h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias animi distinctio id quos autem rerum porro odit commodi libero. Ipsam odit ea necessitatibus numquam suscipit veniam incidunt minus molestiae!
                </p>
                <a class="btn btn--lite mt-4" href="/fiches-techniques">
                    Toutes les fiches
                </a>
            </div>
            <div class="col-md-10 offset-md-1 technics-list">
                <div class="row">
                    {% assign posts = site.technics %}
                    {% for post in posts limit:3 %}
                        {% include post-technic.html post=post index=forloop.index %}
                        {% include post-technic.html post=post index=2 %}
                        {% include post-technic.html post=post index=3 %}
                        {% include post-technic.html post=post index=4 %}
                        {% include post-technic.html post=post index=5 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1 mb-5">
                <h1 class="h3">Partenaires</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias animi distinctio id quos autem.
                </p>
            </div>
            <div class="col-md-10 offset-md-1 technics-list">
                <div class="row">
                    {% for partner in site.data.partners %}
                    <div class="col-md-2 partner">
                        <img src="/assets/images/{{ partner.url }}" alt="{{ partner.alt }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</main>