<footer class="footer" id="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <p class="mb-3">Partenaires</p>
                <ul class="mb-5">
                    {% for item in site.data.options.footer_partner %}
                        <li class="mb-3">
                        {% if item.link %}
                            <a href="{{ item.link }}">{{ item.name }}</a>
                        {% else %}
                            <span>{{ item.name }}</span>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="row mb-5">
                  {% for item in site.data.nav.partners.logos %}
                  <div class="col-4 p-3 center-content">
                      <a href="{{ item.link }}" target="_blank" rel="noopener">
                        {% picture partner {{ item.url | prepend: '/assets/images/' }} --img alt="{{ item.alt }}" title="{{ item.alt }}" %}
                      </a>
                  </div>
                  {% endfor %}
                </div>
            </div>
            <div class="col-md-2 nav">
                <p class="mb-3">Structure</p>
                <ul>
                {% for item in site.data.nav.header %}
                    {% assign class = nil %}
                    {% if page.url == '/' and item.slug == '/' %}
                    {% assign class = ' active' %}
                    {% else %}
                    {% if item.slug != '/' and (page.url == item.slug or page.url contains item.slug) %}
                        {% assign class = ' active' %}
                    {% endif %}
                    {% endif %}
                    <li class="mb-3">
                    {% if item.slug %}
                        <a class="{{ class }}" data-text="{{ item.title }}" href="{{ item.slug }}">{{ item.title }}</a>
                    {% else %}
                        <span>{{ item.title }}</span>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-5 offset-md-1 mb-5">
                <div>
                    {{ site.data.options.footer_text | markdownify }}
                </div>
            </div>
        </div>
        <div>
            <a href="/" class="logo">
                CyberNeTic
                {% include pictos/skull-white.svg %}
            </a>
        </div>
    </div>
</footer>
