<footer class="footer" id="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <p class="mb-4">Partenaires</p>
                <ul class="mb-5">
                    {% for item in site.data.nav.partners.list %}
                        <li class="mb-3">
                        {% if item.slug %}
                            <a href="{{ item.slug }}">{{ item.title }}</a>
                        {% else %}
                            <span>{{ item.title }}</span>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="row">
                  {% for item in site.data.nav.partners.logos %}
                  <div class="col-4 p-3">
                      <a href="{{ item.link }}" target="_blank" rel="noopener">
                          <img src="{{ item.url | prepend: '/assets/images/' }}" alt="{{ item.alt }}">
                      </a>
                  </div>
                  {% endfor %}
                </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <div>
                    <p>
                        En partenariat avec la Gendarmerie Nationale, le projet CyberNeTic vise à mener une recherche-action au coeur des sciences de l'information et de la communication pour étudier les formes d'expression de la violence au moyen des nouvelles technologies et tout particulièrement celle du cyberharcèlement. Il s'agit d'analyser les discours d'expériences (victimes, enquêteurs) et les échanges de conversations (sms, réseaux sociaux, mails, etc.), afin d'identifier les phénomènes d'engrenage, les stratégies d'influence et de manipulation enclenchées par les prédateurs.
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <ul>
                {% for item in site.data.nav.header %}
                    {% assign class = nil %}
                    {% if page.url == '/' and item.slug == '/' %}
                    {% assign class = ' active' %}
                    {% else %}
                    {% if item.slug != '/' and (page.url == item.slug or page.url contains item.slug) %}
                        {% assign class = ' active' %}
                    {% endif %}
                    {% endif %}
                    <li class="mb-3">
                    {% if item.slug %}
                        <a class="{{ class }}" data-text="{{ item.title }}" href="{{ item.slug }}">{{ item.title }}</a>
                    {% else %}
                        <span>{{ item.title }}</span>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="text-end">
            <a href="/" class="logo">
                CyberNeTic
                {% include pictos/skull-black.svg %}
            </a>
        </div>
    </div>
</footer>
