<header>
  <nav class="container">
    <a class="logo glitch glitch--hovered" data-text="CyberNeTic" href="/">CyberNeTic</a>
    <a href="#menu" class="mobile_button mobile_button__open">Menu</a>

    <div id="menu">
      <a href="#" class="mobile_button mobile_button__close">Fermer</a>
      <ul>
        {% for item in site.data.nav.header %}
          {% assign class = nil %}
          {% if page.url == '/' and item.slug == '/' %}
            {% assign class = ' active' %}
          {% else %}
            {% if item.slug != '/' and (page.url == item.slug or page.url contains item.slug) %}
                {% assign class = ' active' %}
            {% endif %}
          {% endif %}
          <li>
            {% if item.slug %}
              <a class="{{ class }} glitch glitch--hovered" data-text="{{ item.title }}" href="{{ item.slug }}">{{ item.title }}</a>
            {% else %}
              <span>{{ item.title }}</span>
            {% endif %}
          </li>
        {% endfor %}
        <li>
          <div id="switch-colors" onclick="document.documentElement.classList.toggle('is-darken');">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-4ym8mv"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
