<article class="col-md-4 mb-5 post-technic">
    <a class="post-technic__title" href="{{ include.post.url }}">
        <p class="post-technic__index">0{{ include.index }}</p>
        <h2 class="h1 m-0 pb-3">
            {% if include.post.title %}{{ include.post.title }}{% else %}{{ site.post.title }}{% endif %}
        </h2>
    </a>
    <div class="post-technic__text">
        <p>
            {{ include.post.preview | markdownify | strip_html | newline_to_br | strip_first_br | truncatewords: 25 }}
        </p>
    </div>
</article>
