<article>
    <a href="{{ include.post.url }}">
        {% if include.big %}
        <div class="image">
            <img src="{{ include.post.image.src }}" alt="{{ include.post.image.alt }}" title="{{ include.post.image.title }}">
        </div>
        {% endif %}
        <div class="content">
            <h2 class="h3 mb-1">{% if include.post.title %}{{ include.post.title }}{% else %}{{ site.post.title }}{% endif %}</h2>
            {% if include.post.post_date %}
                <time datetime="{{include.post.post_date | date_to_xmlschema}}">{{ include.post.post_date | localize: "Publié le %-d %B %Y", "fr" }}</time>
            {% endif %}
            {% if include.big %}
            <p>
                {{ include.post.content | markdownify | strip_html | newline_to_br | strip_first_br | truncatewords: 25 }}
            </p>
            {% endif %}
            <span class="btn btn--lite mt-3" href="{{ include.post.url }}">Lire la suite</span>
        </div>
    </a>
</article>
