<div class="col-md-4 {% unless include.previous %} offset-md-1 {% else %} text-end {% endunless %}">
    <p class="h5">
        {% if include.previous %}
            Actualité précédente
        {% else %}
            Actualité suivante
        {% endif %}
    </p>
    <h2 class="h3 mb-3">
        {% if include.post.title %}{{ include.post.title }}{% else %}{{ site.post.title }}{% endif %}
    </h2>
    <div class="text">
        <!-- <time datetime="{{include.post.post_date | date_to_xmlschema}}">{{ include.post.post_date | localize: "Publié le %-d %B %Y", "fr" }}</time> -->
        <!-- <p>{{ include.post.content | markdownify | strip_html | newline_to_br | strip_first_br | truncatewords: 20 }}</p> -->
        <a href="{{ include.post.url }}">
            Voir l'actualité
        </a>
    </div>
</div>
