<article class="mb-5 sticky">
    <a href="{{ include.post.url }}" class="row">
        <div class="image col-md-6 offset-md-1">
            <img src="{{ include.post.image.src }}" alt="{{ include.post.image.alt }}" title="{{ include.post.image.title }}">
        </div>
        <div class="content col-md-5">
            <h2 class="h3 mb-1">{% if include.post.title %}{{ include.post.title }}{% else %}{{ site.post.title }}{% endif %}</h2>
            <time datetime="{{include.post.post_date | date_to_xmlschema}}">{{ include.post.post_date | localize: "Publié le %-d %B %Y", "fr" }}</time>
            <p>
                {{ include.post.content | markdownify | strip_html | newline_to_br | strip_first_br | truncatewords: 25 }}
            </p>
            <span class="btn btn--lite mt-3" href="{{ include.post.url }}">Lire la suite</span>
        </div>
    </a>    

</article>
