.introduction
    &__top
        // background: $back-2
        height: 300px
        overflow: hidden
        position: relative
        width: 100%
        img
            height: 500px
            opacity: 0.05
            position: absolute
            right: -5%
            top: 7%
            width: auto
    &__post
        margin-top: -200px
