<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML Meta Tags -->
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description | markdownify | strip_html }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}" />
    <meta property="og:description" content="{{ page.description | markdownify | strip_html }}">
    <meta property="og:image" content="{{ site.url }}/assets/images/share.jpg">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}">
    <meta name="twitter:description" content="{{ page.description | markdownify | strip_html }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/images/share.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="http://cyberneticproject.eu/">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="preload" href="/assets/fonts/lato-regular-webfont.woff2" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/poppins-medium-webfont.woff2" as="font" crossorigin="anonymous" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive&family=Lato&family=Poppins:wght@500&display=swap" rel="stylesheet">
  </head>
  <body class="{{ page.path | remove: '.html' | remove: '_' | replace: '/', '__' }}">
    {{ content }}
  </body>
</html>
