---
layout: default
---

<main class="post">
  <section class="container">
    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
    <time datetime="{{page.post_date | date_to_xmlschema}}">{{ page.post_date | localize: "Publié le %-d %B %Y", "fr" }}</time>
    <div class="text">
      {{ page.content | markdownify }}
    </div>
  </section>

  <section class="container post__siblings">
    <h1>Autres actualités</h1>
    <nav class="siblings">

      {% if page.collection %}
        {% assign collection = site[page.collection] | posts_passed: 'post_date' %}
        {% assign prev = false %}
        {% assign next = false %}

        {% for item in collection %}
          {% if item.title == page.title %}
            {% unless forloop.first %}
              {% assign prev = iterator %}
            {% endunless %}

            {% unless forloop.last %}
              {% assign next = collection[forloop.index] %}
            {% endunless %}
          {% endif %}

          {% assign iterator = item %}
        {% endfor %}
      {% endif %}


        {% if next %}
          {% include sibling-post.html post=next %}
        {% endif %}
        {% if prev %}
          {% include sibling-post.html post=prev previous=true %}
        {% endif %}
        <div class="clear"></div>
    </nav>
  </section>
</main>
