---
layout: default
---

<main class="technic">
  <div class="page-title">
    <div id="circuit"></div>
    <h1 class="glitch" data-text="{{ page.title }}">{{ page.title }}</h1>
    <h2>Etiologie des pratiques de cyberharcèlement</h2>
  </div>

  <div class="technic__intro">
    <section class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="text">
            {% if page.synonymous.size > 0 %}
              <h3 class="title-box">
                {% if page.synonymous.size > 1 %}
                  Synonymes
                {% else %}
                  Synonyme
                {% endif %}
              </h3>
              <ul>
                {% for term in page.synonymous %}
                  <li><em>{{ term }}</em></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div class="mt-4 text">
            {% if page.downloads.size > 0 %}
              <h3 class="title-box">
                {% if page.downloads.size > 1 %}
                  Téléchargements
                {% else %}
                  Téléchargement
                {% endif %}
              </h3>
              <ul>
                {% for download in page.downloads %}
                  <li><a href="{{ download.file }}" download>{{ download.name }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
  
        <div class="col-md-9 text pl-md-5">
          <h2>Définition</h2>
          {{ page.definition | markdownify }}
        </div>
      </div>
    </section>  
  </div>

  <section class="container">
    <div class="row quote">
      <div class="col-md-5 pl-0">
        <img src="{{ page.quote.image }}" alt="">
      </div>
      <div class="col-md-7">
        <p>
          <q data-text="{{ page.quote.text }}" class="glitch">
            {{ page.quote.text }}
          </q>
        </p>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="text">
          {{ page.content | markdownify }}
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="box">
          <div class="box__content p-3">
            <div class="text text--small">
              {{ page.side | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <h1>Cadre légal</h1>
    <div class="text text--small">
      {{ page.legals | markdownify }}
    </div>
  </section>

  <section class="container">
    <div class="box">
      <div class="box__content">
        <h1 class="box__title">
          Ressources
        </h1>
        <div class="box__body">
          <div class="text text--small">
            {{ page.ressources | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container post__siblings">
    <h1>Actualités associées</h1>
    <nav class="siblings">

      {% if page.collection %}
        {% assign collection = site.news | posts_passed: 'post_date' %}
        {% assign prev = false %}
        {% assign next = false %}

        {% for item in collection %}
          {% if item.title == page.title %}
            {% unless forloop.first %}
              {% assign prev = iterator %}
            {% endunless %}

            {% unless forloop.last %}
              {% assign next = collection[forloop.index] %}
            {% endunless %}
          {% endif %}

          {% assign iterator = item %}
        {% endfor %}
      {% endif %}


      {% if next %}
        {% include sibling-post.html post=next %}
      {% endif %}
      {% if prev %}
        {% include sibling-post.html post=prev previous=true %}
      {% endif %}
      <div class="clear"></div>
    </nav>
  </section>
</main>
