---
layout: page
---

<section class="row">
  <div class="offset-md-1 col-md-6 text">
    <h2>{{ page.preview }}</h2>
    {{ page.definition.text | markdownify }}
  </div>
  <div class="offset-md-1 col-md-3">
    <div>
      {% if page.synonymous.size > 0 %}
        <h3>
          {% if page.synonymous.size > 1 %}
            Synonymes
          {% else %}
            Synonyme
          {% endif %}
        </h3>
        <ul>
          {% for term in page.synonymous %}
            <li>{{ term }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="mt-5">
      {% if page.downloads.size > 0 %}
        <h3>
          {% if page.downloads.size > 1 %}
            Téléchargements
          {% else %}
            Téléchargement
          {% endif %}
        </h3>
        <ul>
          {% for download in page.downloads %}
            <li><a href="{{ download.file }}" download>{{ download.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</section>
  
  
<section class="row quote">
    <div class="col-md-8">
      <p>
        <span>“</span>
        <q data-text="{{ page.quote }}" class="glitch">
          {{ page.quote }}
        </q>
        <span>”</span>
      </p>
    </div>
</section>

<section class="row">
  <div class="offset-md-1 col-md-6 pb-5 mb-5">
    <div class="text">
      {{ page.main.text | markdownify }}
    </div>
  </div>
  {% if page.main.image %}
    {% include side-image.html image=page.main.image %}
  {% endif %}
</section>
<section class="row">
  <div class="offset-md-1 col-md-6 pb-5 mb-5">
    <div class="text">
      {{ page.side.text | markdownify }}
    </div>
  </div>
  {% if page.side.image %}
    {% include side-image.html image=page.side.image %}
  {% endif %}
</section>
<section class="row">
  <div class="offset-md-1 col-md-6 pb-5 mb-5">
    <div class="text">
      {{ page.legals.text | markdownify }}
    </div>
  </div>
  {% if page.legals.image %}
    {% include side-image.html image=page.legals.image %}
  {% endif %}
</section>
<section class="row">
  <div class="offset-md-1 col-md-6 pb-5 mb-5 indent-list">
    <div class="text">
      {{ page.ressources.text | markdownify }}
    </div>
  </div>
  {% if page.ressources.image %}
    {% include side-image.html image=page.ressources.image %}
  {% endif %}
</section>

<section class="row post__siblings">
  <h1>Actualités associées</h1>
  <nav class="siblings">

    {% if page.collection %}
      {% assign collection = site.news | posts_passed: 'post_date' %}
      {% assign prev = false %}
      {% assign next = false %}

      {% for item in collection %}
        {% if item.title == page.title %}
          {% unless forloop.first %}
            {% assign prev = iterator %}
          {% endunless %}

          {% unless forloop.last %}
            {% assign next = collection[forloop.index] %}
          {% endunless %}
        {% endif %}

        {% assign iterator = item %}
      {% endfor %}
    {% endif %}


    {% if next %}
      {% include sibling-post.html post=next %}
    {% endif %}
    {% if prev %}
      {% include sibling-post.html post=prev previous=true %}
    {% endif %}
  </nav>
</section>
