=abs-fill
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0

=disable-selection
    user-select: none
    *
        user-select: none

=center-content
    align-items: center
    display: flex
    justify-content: center

=mobile
    @media(max-width: 768px)
        @content

=tablet
    @media(max-width: 1024px)
        @content

=huge
    @media(min-width: 1600px)
        @content

=text-shadow($color: $front)
    text-shadow: 0 0 7px rgba($color, 0.5)
    
=link
    display: inline-block
    vertical-align: middle
    border-bottom: 1px solid $front