@keyframes rolling-square
    0%
        transform: translateY(-50px)
    100%
        transform: translateY(50px)

.bd
    border: $border-width solid $light

.bdr
    border-right: $border-width solid $light

section.container
    margin-top: 100px
    & > h1
        padding-bottom: 50px
        a
            text-decoration: none
            color: inherit

.box--img
    .box
        &__body
            padding: 40px
        &__content
            display: flex
            +mobile
                display: block
            .h3
                padding-bottom: 15px
            p
                column-count: 2
                +mobile
                    column-count: 1
        &__text
            width: 70%
            +mobile
                width: auto

        &__image
            border-left: $border-width solid $light
            width: 30%
            +mobile
                border-right: 0
                border-top: $border-width solid $light
                width: auto
            img
                display: block
                object-fit: cover
                height: 100%
                width: 100%

.center
    margin: 100px 0
    .btn
        margin: auto
.news
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +mobile
        display: block

    .box
        width: 30%
        margin-bottom: 100px
        +mobile
            width: auto
        &::before
            top: 10px
            left: 10px
        time
            display: block
            font-size: px2rem(12)
            padding-bottom: 40px
        &__title
            max-width: 90%
        &__body
            padding: 20px
            p
                column-count: 1

.partners
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .partner
        background: white
        position: relative
        border: $border-width solid $light
        width: 18%
        padding: 20px
        img
            margin: auto
            display: block
            max-width: 90%
