@keyframes rolling-square
    0%
        transform: translateY(-50px)
    100%
        transform: translateY(50px)

section.container
    margin-bottom: 100px

.box
    position: relative
    &::before
        border: $border-width solid $dark
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 20px
        left: 20px
        opacity: 0.7
        +mobile
            top: 10px
            left: 10px
        .is-darken &
            border-color: $light
    time
        display: block
        font-size: px2rem(12)
        padding-bottom: 40px
    &__image
        img
            height: auto
            max-width: 100%
    &__content
        background: $light
        border: $border-width solid $dark
        height: 100%
        position: relative
        z-index: 2
        .is-darken &
            background: $dark
            border-color: $light
        &::after
            animation: rolling-square 5s alternate infinite
            border: 2px dashed $light
            content: ''
            display: block
            height: 50px
            left: -4px
            position: absolute
            top: 50%
            width: 0px
            z-index: 10
            .is-darken &
                border-color: $dark
    &__title
        background: $light
        border: $border-width solid $dark
        left: -$border-width
        padding: 20px 40px 20px
        position: relative
        top: -$border-width
        width: max-content
        small
            font-size: 70%
        .is-darken &
            border-color: $light
    &__body
        padding: 40px
        .h3
            padding-bottom: 15px
        p
            column-count: 2
            +mobile
                column-count: 1
    .btn
        margin-top: 40px

    @for $i from 1 through 5
        &:nth-child(n + #{$i})
            .box__content
                &::after
                    animation: rolling-square 5s #{$i * 0.5}s alternate infinite

.box--img
    .box
        &__body
            padding: 40px
        &__content
            display: flex
            +mobile
                display: block
            .h3
                padding-bottom: 15px
            p
                column-count: 2
                +mobile
                    column-count: 1
        &__text
            width: 70%
            +mobile
                width: auto

        &__image
            border-left: $border-width solid $dark
            width: 30%
            +mobile
                border-right: 0
                border-top: $border-width solid $dark
                width: auto
            img
                display: block
                object-fit: cover
                height: 100%
                width: 100%
            .is-darken &
                border-color: $light

.box--light
    .box
        &__title
            padding: 15px
        &__body
            padding: 15px

.box--sticky
    &::before
        display: none
    .box
        &__title--sticky
            position: absolute
        &__content
            display: flex
        &__image
            width: 70%
            img
                height: 100%
                object-fit: cover
                width: 100%
        &__body
            width: 30%
            .box__title
                border: 0
                padding: 0
                width: auto
            p
                column-count: 1



.siblings
    .clear
        clear: both
    .box
        max-width: 45%
        &--left
            float: left
        &--right
            float: right
            text-align: right
            .box__title
                left: auto
                margin-left: auto
                right: -2px
            .btn
                margin-left: auto
.center
    .btn
        margin: auto
.news
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +mobile
        display: block
    .box
        +mobile
            width: auto
        margin-bottom: 100px
        width: 30%
        &::before
            left: 10px
            top: 10px
        &__content
            height: 100%
        &__title
            max-width: 90%
            padding: 20px

        &__body
            padding: 20px
            p
                column-count: 1

.partners
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .partner
        filter: grayscale(1)
        mix-blend-mode: multiply
        background: white
        border: $border-width solid $dark
        padding: 20px
        position: relative
        width: 18%
        .is-darken &
            border-color: $light
        img
            display: block
            margin: auto
            max-width: 90%
        &:hover
            filter: grayscale(0)
            mix-blend-mode: normal

.post
    img, iframe, video
        margin: 30px auto
        max-width: 100%
    &__siblings
        h1
            font-size: px2rem(30)
            text-align: center

.quote
    align-items: center
    background: white
    border-left: 6px solid $violet
    // border-radius: 0 20px 20px 0
    font-family: Georgia, sans-serif
    position: relative
    img
        display: block
        height: 100%
        object-fit: cover
        width: 100%
    p
        padding: 10px 20px
    q
        display: block
        font-size: px2rem(30)
        font-style: italic
        line-height: 1.3
        position: relative
        &:after, &:before
            background: white
    &::before
        color: $violet
        content: '‘‘'
        font-size: 400px
        left: 32%
        letter-spacing: -20px
        position: absolute
        top: -100px
        z-index: 3

.side
    background: rgba($violet, 0.1)
    padding: 20px