header
    border-bottom: $border-width solid $light
    font-family: $font-secondary
    font-weight: bold
    position: sticky
    top: 0
    background: $dark
    z-index: 100
    nav
        align-items: baseline
        display: flex
        justify-content: space-between
        padding-top: 10px
        position: relative

    .logo
        color: $light
        display: block
        font-size: px2rem(30)
        font-weight: bold
        text-decoration: none
        text-transform: uppercase
        z-index: 10
        +mobile
            font-size: px2rem(20)

    .mobile_button
        color: $light
        display: none

    #menu
        li
            display: inline-block
            &:after
                content: " / "
            &:after
                content: ""
            span, a
                padding: 15px
            a
                @extend .link
                color: $light
                display: block
                text-decoration: none
                &.active
                    color: $dark
                    &::after
                        height: 100%

    +mobile
        .mobile_button
            display: block
            font-weight: bold
            padding: 15px
            text-decoration: none
            text-transform: uppercase
            &__open
                right: -15px
                top: -15px
            &__close
                position: absolute
                right: 15px
                top: 15px
        #menu
            background: $dark
            bottom: 0
            display: none
            left: 0
            padding: 100px
            position: fixed
            right: 0
            top: 0
            &:target
                display: block
            ul
                left: 0
                right: 15px
                top: 100px
                li
                    display: block
                    margin-bottom: 30px
                    text-align: center
                &::after
                    content: none
                &:last-child
                    a
                        padding-right: 15px
