header
    font-family: sans-serif
    font-weight: bold
    z-index: 100
    text-align: center
    padding: 170px 0 100px 0
    .logo
        display: block
        color: white
        font-size: px2rem(50)
        font-weight: bold
        letter-spacing: -6px
        text-decoration: none
        text-transform: uppercase
        +mobile
            font-size: px2rem(20)

    .mobile_button
        color: $light
        display: none

    #menu
        li
            display: inline-block
            &:after
                content: " / "
            &:after
                content: ""
            span, a
                padding: 15px
            a
                color: white
                font-weight: normal
                display: block
                text-decoration: none

    +mobile
        .mobile_button
            display: block
            font-weight: bold
            padding: 15px
            text-decoration: none
            text-transform: uppercase
            &__open
                right: -15px
                top: -15px
            &__close
                position: absolute
                right: 15px
                top: 15px
        #menu
            background: $dark
            bottom: 0
            display: none
            left: 0
            padding: 100px
            position: fixed
            right: 0
            top: 0
            &:target
                display: block
            ul
                left: 0
                right: 15px
                top: 100px
                li
                    display: block
                    margin-bottom: 30px
                    text-align: center
                &::after
                    content: none
                &:last-child
                    a
                        padding-right: 15px
