header
    background: $back
    border-bottom: $border-width solid $front
    font-family: $font-secondary
    position: sticky
    top: 0
    z-index: 100
    .is-darken &
        background: $front
        border-color: $back
    nav
        align-items: baseline
        display: flex
        justify-content: space-between
        padding-top: 10px
        position: relative
    .mobile_button
        color: inherit
        display: none
        svg
            height: 20px
            width: 20px
            *
                fill: $front

    #menu
        li
            display: inline-block
            text-transform: uppercase
            vertical-align: middle
            span, a
                letter-spacing: 0.03em
                padding: 18px 10px
                +media-breakpoint-down(md)
                    padding: 5px 10px
            a
                // @extend .link
                color: inherit
                display: block
                text-decoration: none
                &::after, &::before
                    background: $back
                    color: $orange
                    padding: 18px 10px
                &:hover
                    color: $orange
                &.active
                    color: $orange
                    // &::after
                    //     height: 100%
                    .is-darken &
                        color: $front
            #switch-colors
                cursor: pointer
                display: none


    +media-breakpoint-down(md)
        #menu
            align-items: center
            justify-content: center
        .mobile_button
            display: inline-block
            font-weight: bold
            height: 65px
            line-height: 65px
            padding: 0
            text-align: center
            text-decoration: none
            text-transform: uppercase
            width: 65px
            svg
                display: inline-block
                vertical-align: middle
            &__close
                position: absolute
                right: 34px
                top: 10px
        #menu
            background: $back
            bottom: 0
            display: none
            left: 0
            padding: 100px
            position: fixed
            right: 0
            top: 0
            .is-darken &
                color: $front

            &:target
                display: flex
            ul
                left: 0
                right: 15px
                top: 100px
                li
                    display: block
                    margin-bottom: 30px
                    text-align: center
                &::after
                    content: none
                &:last-child
                    a
                        padding-right: 15px


footer
    background: white
    border-top: $border-width solid $front
    box-shadow: 0 0 10px 2px rgba($front, 0.5)
    color: $back
    img
        max-width: 100%
    .copyrights
        font-size: 14px
        text-align: center
    

.search
    background: $back
    border-left: $border-width solid $front
    border-top: $border-width solid $front
    height: calc(100% - 75px)
    max-width: 100%
    overflow: hidden
    position: fixed
    right: -1px
    top: 75px
    transition: width 0.33s
    width: 0
    &__body
        max-height: 100%
        padding: 30px
    &__results
        max-height: calc(100vh - 220px)
        overflow-y: auto
    .search-opened &
        width: 50%
        +media-breakpoint-down(md)
            width: 100%
    input
        -webkit-appearance: none
        background: $back
        border: 0
        border-bottom: 1px solid $front
        border-radius: 0
        color: $front
        display: block
        font-family: $font-secondary
        font-size: 40px
        padding: 15px
        padding-left: 0
        width: 100%
        &:focus-visible
            outline: 0
    li
        font-family: $font-primary
        font-size: 20px
        padding: 10px 0
        small
            display: inline-block
            font-size: 70%
            vertical-align: top

.search-icon
    background: $back
    display: inline-block
    height: 65px
    line-height: 65px
    padding: 0px !important
    text-align: center
    width: 65px
    svg
        display: inline-block
        height: 20px
        margin: auto
        vertical-align: middle
        width: 20px
        *
            fill: $front
    .close
        display: none
    &:hover
        background: $front
        svg *
            fill: $back

.search-opened
    .search-icon
        .open
            display: none
        .close
            display: inline-block