*, *:before, *:after
    box-sizing: border-box

.hidden
    display: none

body, html
    background-color: $back
    color: $text-color
    &.is-darken, .is-darken &
        background: $front
        color: $back