
.btn
    background: $front
    border: $border-width solid $front
    box-shadow: 0 0 20px 3px rgba($front, 0.4)
    color: $back
    display: table
    font-family: $font-secondary
    padding: 20px
    text-decoration: none
    transition: 0.1s
    &:hover
        background: $red
        border-color: $red
        box-shadow: 0 0 20px 3px rgba($red, 0.4)

    .is-darken &
        border-color: $back
        color: $back

.logo
    color: inherit
    display: block
    font-size: px2rem(30)
    font-weight: bold
    letter-spacing: 5px
    line-height: px2rem(30)
    margin-left: 0
    padding-top: 6px
    text-decoration: none
    z-index: 10
    svg
        display: inline-block
        height: 50px
        vertical-align: middle
    +mobile
        font-size: px2rem(20)